body {
  margin: 0;
  padding-bottom: 2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#appTitle {
  padding-bottom: 1em;
  text-align: center;
}

#left-col {  
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  box-shadow: 10px 10px 5px rgba(36, 35, 35, 0.692), -10px 10px 5px rgba(36, 35, 35, 0.692);
}

#editor-header {
  border: 5px solid black;
  font-weight: 500;
  background-color: royalblue;
  width: 100%;
}

#right-col {  
  overflow-wrap: break-word;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  box-shadow: 10px 10px 5px rgba(36, 35, 35, 0.692), -10px 10px 5px rgba(36, 35, 35, 0.692);
}

#preview-header {
  border: 5px solid black;
  font-weight: 500;
  background-color: royalblue;
  width: 100%;
}

#preview {
  display: inline-block;  
  width: 100%;  
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;  
}

#editor {  
  margin-left: 5px;  
  margin-right: 5px;
  min-height: 60vh;  
  width: 100%;
  display: inline-block;
  resize: vertical;  
  overflow: auto;
  border: none;
}

pre {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;      
  font-family: monospace;
  background-color: silver;
}

code {
  color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;    
  background-color: silver;
}

blockquote {
  color: blue;
  border-left: 3px solid magenta;
  padding-left: 5px;
  margin-left: 25px;
}

table {
  table-layout: fixed;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;    
  border-spacing: 2px;
  border: 3px solid darkblue;
  border-collapse: collapse;
  vertical-align: middle;
}

th {
  font-weight: bold;
  border: 3px solid darkblue; 
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
}

td {
  border: 3px solid darkblue;
  letter-spacing: 1px;
  padding: 10px;
}